<h1>New user</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Password (again)" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create Account" %>
<% end %>

<%= link_to 'Back', users_path %>
Have an account? <%= link_to 'Sign In', '#' %>
