<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <span class="title"><%= link_to "ShortURL", root_path %></span>
      <nav>      
        <ul class="nav pull-right">
          <% if signed_in? %>
          <p class="pull-right">
          <li><%= image_tag current_user.avatar, size: '36x36' %> <%= current_user.email %></li>
          </p>
          <p class="pull-right">
          <li><%= link_to 'My Links', user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', signout_path, method: 'delete' %></li>
          </p>
          <% else %>
          <p class="pull-right">
          <li><%= image_tag('github-32.png') %></li>
          <li><%= link_to 'Sign in with GitHub', '/auth/github' %></li>
          </p>
          <% end %>
        </ul>        
      </nav>
    </div>
  </div>
</header>
